* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5rem;
    ;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: larger;


}

.overlay {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 5rem;
}
.mainVideo{
    height: 100vh;
    width: 100%;
    margin-bottom: 1%;
}