.products {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    overflow: scroll;   
} 

@media screen and (max-width: 1200px) {
    .products {
        grid-template-columns: 10% 50% auto;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 768px) {
    .products {
        grid-template-columns: 1fr;
    }
}